<div class="navbar navbar-inverse big-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand three-d" href="/"><img src="/img/logo-large.png"></a>
    </div>
  </div>
</div>