<div class="sidebar">
  <div class="sidebar-section darker">
    <h4>{{@blog.description}}</h4>
  </div>
  <div class="sidebar-section">
    <h5>Suggested Posts:</h5>
    <div class="sidebar-list">
      {{#foreach posts}}
        {{#if featured}}
          <a class="sidebar-list-item" href="{{{url}}}">{{{title}}}</a>
        {{/if}}
      {{/foreach}}
    </div>
  </div>
  <div class="sidebar-section">
    <h5>Subscribe</h5>
    <div class="sidebar-list">
      <a class="sidebar-list-item" target="_blank" href="http://twitter.com/adamjohnsonnyc">twitter</a>
      <a class="sidebar-list-item" target="_blank" href="/rss">RSS</a>
      <a class="sidebar-list-item" target="_blank" href="http://eepurl.com/RFJ_v">e-mail</a>
    </div>
  </div>
</div>

